{% extends "base.html" %}

{% block content_head %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-tachometer page-header-heading-icon"></span> 云监控
                    <small>监控总览</small>
                </div>
                <p class="page-header-description">应该要显示所有的（或者重要的）监控信息。下面的例子只是用来占位的。</p>
            </div>
        </div>
    </div>
{% endblock content_head %}

{% block content_body %}
    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">【小云监控信息】内存使用率 Top10</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="height: 400px" class="" id="tpl-echarts-A">
                    如题目所言，插个表呗
                </div>
            </div>
        </div>
    </div>

    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">【小云监控信息】CPU使用率 Top10</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="height: 400px" class="" id="tpl-echarts-A">
                    如题目所言，插个表呗
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}