{% extends "base.html" %}

{% block content_head %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-cloud page-header-heading-icon"></span> 云接入
                </div>
                <p class="page-header-description">维护一份小云白名单，用于控制小云接入的管理。</p>
            </div>
        </div>
    </div>
{% endblock content_head %}

{% block content_body %}
    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">小云白名单</div>
                <div class="widget-function am-fr">
                    <button type="button" id="add-littlecloud-btn" class="am-btn am-btn-success am-btn-xs am-radius">
                        <i class="am-icon-plus"></i>添加小云
                    </button>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="min-height: 400px;width: 98%;margin: auto" class="" id="tpl-echarts-A">
                    <table width="100%" id="littlecloud-table"
                           class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                        <thead>
                        <tr>
                            <th class="is_connectible nosort">接入权限</th>
                            <th class="name">小云名称</th>
                            <th class="url nosort">小云主页</th>
                            <th class="ip nosort">接入IP</th>
                            <th class="port nosort">接入端口</th>
                            <th class="protocol nosort">接入协议</th>
                            <th class="email nosort">联系邮箱</th>
                            <th class="phone nosort">联系电话</th>
                            <th class="operation nosort">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock content_body %}

{% block custom_modal %}
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <h1>添加小云</h1>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="add-form-name" class="am-u-sm-2 am-form-label">小云名称</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-name" placeholder="由数字、26个英文字母或者下划线组成的字符串">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-url" class="am-u-sm-2 am-form-label">小云主页</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-url" placeholder="例：www.barry.com">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-ip" class="am-u-sm-2 am-form-label">接入IP</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-ip" placeholder="例：10.231.45.38">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-port" class="am-u-sm-2 am-form-label">接入端口</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-port" placeholder="例：8000">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-select-1" class="am-u-sm-2 am-form-label">接入协议</label>
                        <div class="am-u-sm-10">
                        <select id="doc-select-1">
                            <option value="option1">HTTPS</option>
                            <option value="option2">HTTP</option>
                        </select>
                        </div>
                        <!--<span class="am-form-caret"></span>-->
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-email" class="am-u-sm-2 am-form-label">联系邮箱</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-email" placeholder="例：barry@gmail.com">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-phone" class="am-u-sm-2 am-form-label">联系电话</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-phone" placeholder="例：18819473294" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <!--<div class="am-u-sm-10 am-u-sm-offset-2">-->
                        <div>
                            <button type="submit" class="am-btn am-btn-default">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <h1>添加小云</h1>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div>
                    <label class="form-span">小云名称: </label>
                    <input type="text" class="am-modal-prompt-input form-input" required>
                </div>
                <div>
                    <label class="form-span">小云主页: </label>
                    <input type="text" class="am-modal-prompt-input form-input" required>
                </div>
                <div>
                    <label class="form-span">接入IP: </label>
                    <input type="text" class="am-modal-prompt-input form-input">
                </div>
                <div>
                    <label class="form-span">接入端口: </label>
                    <input type="text" class="am-modal-prompt-input form-input">
                </div>
                <div>
                    <label class="form-span">接入协议: </label>
                    <div>
                        <input type="radio" class="form-input" name="protocol" id="add-form-protocol-https"
                               value="https" checked>
                        <label for="add-form-protocol-https" style="margin-right: 80px;">HTTPS</label>
                        <input type="radio" class="form-input" name="protocol" id="add-form-protocol-http" value="http">
                        <label for="add-form-protocol-http">HTTP</label>
                    </div>
                </div>
                <div>
                    <label class="form-span">联系邮箱: </label>
                    <input type="text" class="am-modal-prompt-input form-input">
                </div>
                <div>
                    <label class="form-span">联系电话: </label>
                    <input type="text" class="am-modal-prompt-input form-input">
                </div>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>添加</span>
            </div>
        </div>
    </div>
{% endblock custom_modal %}


{% block custom_script %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amazeui.switch.css') }}"/>
    <script src="{{ url_for('static', filename='js/amazeui.switch.min.js') }}"></script>

    <script>
        (function () {
            var table = $('#littlecloud-table').DataTable({
                responsive: true,
                "lengthChange": false,
                "order": [[1, 'asc']],
                "ajax": "api/littlecloud",
                "oLanguage": {// 汉化
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "", // TODO 不知道为什么搜索框前面有文字的话，样式会换行，特别不好看。后期优化。
                },
                "columns": [
                    {"data": "is_connectible"},
                    {"data": "name"},
                    {"data": "url"},
                    {"data": "ip"},
                    {"data": "port"},
                    {"data": "protocol"},
                    {"data": "email"},
                    {"data": "phone"},
                    {"data": "operation"},
                ],
                "createdRow": function (row, data, index) {
                    var switchTemplate = '<input id="switch-{0}" type="checkbox" {1} data-size="xs" data-off-text="禁止" data-on-text="允许" data-on-color="success" data-off-color="danger" name="my-checkbox">'
                    if (data["is_connectible"]) {
                        switchTemplate = switchTemplate.format(data["id"], "checked")
                    } else {
                        switchTemplate = switchTemplate.format(data["id"], "")
                    }
                    $('td', row).eq(0).html(switchTemplate);
                },
                "columnDefs": [{
                    "targets": "nosort",
                    "orderable": false,
                }, {
                    "targets": "operation",
                    "data": null,
                    "defaultContent": '<button class="am-btn am-btn-primary am-btn-xs am-radius" style="margin-right:10px"><i class="am-icon-edit"></i></button>' +
                    '<button class="am-btn am-btn-danger am-btn-xs am-radius"><i class="am-icon-trash"></i></button>',
                }],
                "initComplete": function () {
                    $('[name="my-checkbox"]').bootstrapSwitch();
                },
            });

            $('#add-littlecloud-btn').on('click', function () {
                $('#doc-modal-1').modal({
                    // relatedTarget: this,
                    // onConfirm: function (e) {
                    //     // alert('你输入的是：' + e.data || '')
                    //     console.log(e.data)
                    // },
                    // onCancel: function (e) {
                    //     alert('不想说!');
                    // },
                    // // dimmer: false,
                });
            });
        }());
    </script>

    <style>
        .form-span {
            width: 100px;
            margin-bottom: 0px;
        }

        .form-input {
            margin: 0px auto 15px auto;
        }
    </style>

{% endblock custom_script %}