{% extends "base.html" %}

{% block content_head %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-cloud page-header-heading-icon"></span> 云接入
                </div>
                <p class="page-header-description">维护一份小云白名单，用于控制小云接入的管理。</p>
            </div>
        </div>
    </div>
{% endblock content_head %}

{% block content_body %}
    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">小云白名单</div>
                <div class="widget-function am-fr">
                    <button type="button" class="am-btn am-btn-success am-btn-xs am-radius"><i class="am-icon-plus"></i>添加小云
                    </button>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="min-height: 400px;width: 98%;margin: auto" class="" id="tpl-echarts-A">
                    <table width="100%" id="littlecloud-table"
                           class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                        <thead>
                        <tr>
                            <th class="is_connectible nosort">接入权限</th>
                            <th class="name">小云名称</th>
                            <th class="url nosort">小云主页</th>
                            <th class="ip nosort">接入IP</th>
                            <th class="port nosort">接入端口</th>
                            <th class="protocol nosort">接入协议</th>
                            <th class="email nosort">联系邮箱</th>
                            <th class="phone nosort">联系电话</th>
                            <th class="operation nosort">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}


{% block custom_script %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amazeui.switch.css') }}"/>
    <script src="{{ url_for('static', filename='js/amazeui.switch.min.js') }}"></script>

    <script>
        (function () {
            var table = $('#littlecloud-table').DataTable({
                responsive: true,
                "lengthChange": false,
                "order": [[1, 'asc' ]],
                "ajax": "api/littlecloud",
                "oLanguage": {// 汉化
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "", // TODO 不知道为什么搜索框前面有文字的话，样式会换行，特别不好看。后期优化。
                },
                "columns": [
                    {"data": "is_connectible"},
                    {"data": "name"},
                    {"data": "url"},
                    {"data": "ip"},
                    {"data": "port"},
                    {"data": "protocol"},
                    {"data": "email"},
                    {"data": "phone"},
                    {"data": "operation"},
                ],
                "createdRow": function (row, data, index) {
                    var switchTemplate = '<input id="switch-{0}" type="checkbox" {1} data-size="xs" data-off-text="禁止" data-on-text="允许" data-on-color="success" data-off-color="danger" name="my-checkbox">'
                    if (data["is_connectible"]) {
                        switchTemplate = switchTemplate.format(data["id"], "checked")
                    } else {
                        switchTemplate = switchTemplate.format(data["id"], "")
                    }
                    $('td', row).eq(0).html(switchTemplate);
                },
                "columnDefs": [{
                    "targets": "nosort",
                    "orderable": false,
                }, {
                    "targets": "operation",
                    "data": null,
                    "defaultContent": '<button class="am-btn am-btn-primary am-btn-xs am-radius" style="margin-right:10px"><i class="am-icon-edit"></i></button>' +
                    '<button class="am-btn am-btn-danger am-btn-xs am-radius"><i class="am-icon-trash"></i></button>',
                }],
                "initComplete": function () {
                    $('[name="my-checkbox"]').bootstrapSwitch();
                },
            });
        }());
    </script>
{% endblock custom_script %}