{% extends "base.html" %}

<!--
TODO
- 添加或修改小云时，对于名称和主页这种唯一的属性，最好远程验证一下。
- 对于操作不成功弹出的 Alert 窗口，失败信息可以详细一点。
-->

{% block content_head %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-cloud page-header-heading-icon"></span> 云接入
                </div>
                <p class="page-header-description">维护一份小云白名单，用于管理小云的接入权限。</p>
            </div>
        </div>
    </div>
{% endblock content_head %}

{% block content_body %}
    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">小云白名单</div>
                <div class="widget-function am-fr">
                    <button type="button" id="add-littlecloud-btn" class="am-btn am-btn-success am-btn-xs am-radius">
                        <i class="am-icon-plus"></i>添加小云
                    </button>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="min-height: 400px;width: 98%;margin: auto" class="" id="tpl-echarts-A">
                    <table width="100%" id="littlecloud-table"
                           class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                        <thead>
                        <tr>
                            <th class="is_connectible nosort">接入权限</th>
                            <th class="name">小云名称</th>
                            <th class="url nosort">小云主页</th>
                            <th class="ip nosort">接入IP</th>
                            <th class="port nosort">接入端口</th>
                            <th class="protocol nosort">接入协议</th>
                            <th class="email nosort">联系邮箱</th>
                            <th class="phone nosort">联系电话</th>
                            <th class="operation nosort">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}

{% block custom_modal %}
    <!--添加小云的Modal-->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="add-littlecloud-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <h1>添加小云</h1>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form id="add-littlecloud-form" class="am-form am-form-horizontal" data-am-validator
                      method="post" action="api/littlecloud">
                    <div class="am-form-group">
                        <label for="add-form-name" class="am-u-sm-2 am-form-label">小云名称</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-name" name="name" minlength="3" maxlength="20"
                                   pattern="^\w+$"
                                   placeholder="由数字、26个英文字母或者下划线组成的字符串" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-url" class="am-u-sm-2 am-form-label">小云主页</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-url" name="url" minlength="1" maxlength="2083"
                                   placeholder="例：www.barry.com" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-ip" class="am-u-sm-2 am-form-label">接入IP</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-ip" name="ip"
                                   pattern="^(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$"
                                   placeholder="例：10.231.45.38" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-port" class="am-u-sm-2 am-form-label">接入端口</label>
                        <div class="am-u-sm-10">
                            <input type="number" id="add-form-port" min="0" max="65535" name="port"
                                   placeholder="例：8000" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-select-1" class="am-u-sm-2 am-form-label">接入协议</label>
                        <div class="am-u-sm-10">
                            <select id="add-form-protocol" required name="protocol">
                                <option value="">请选择</option>
                                <option value="HTTPS">HTTPS</option>
                                <option value="HTTP">HTTP</option>
                            </select>
                        </div>
                        <span class="am-form-caret"></span>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-email" class="am-u-sm-2 am-form-label">联系邮箱</label>
                        <div class="am-u-sm-10">
                            <input type="email" id="add-form-email" name="email"
                                   placeholder="例：barry@gmail.com" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-phone" class="am-u-sm-2 am-form-label">联系电话</label>
                        <div class="am-u-sm-10">
                            <input type="number" id="add-form-phone" name="phone"
                                   placeholder="例：18819473294" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <!--<div class="am-u-sm-10 am-u-sm-offset-2">-->
                        <div>
                            <button id="add-form-submit-button" type="" class="am-btn am-btn-success">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--编辑小云的Modal-->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="edit-littlecloud-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <h1>编辑小云</h1>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form id="edit-littlecloud-form" class="am-form am-form-horizontal" data-am-validator
                      method="" action="">
                    <input type="number" id="edit-form-id" style="display: none;">
                    <div class="am-form-group">
                        <label for="edit-form-name" class="am-u-sm-2 am-form-label">小云名称</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="edit-form-name" name="name" minlength="3" maxlength="20"
                                   pattern="^\w+$"
                                   placeholder="由数字、26个英文字母或者下划线组成的字符串" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="edit-form-url" class="am-u-sm-2 am-form-label">小云主页</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="edit-form-url" name="url" minlength="1" maxlength="2083"
                                   placeholder="例：www.barry.com" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="edit-form-ip" class="am-u-sm-2 am-form-label">接入IP</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="edit-form-ip" name="ip"
                                   pattern="^(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$"
                                   placeholder="例：10.231.45.38" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="edit-form-port" class="am-u-sm-2 am-form-label">接入端口</label>
                        <div class="am-u-sm-10">
                            <input type="number" id="edit-form-port" min="0" max="65535" name="port"
                                   placeholder="例：8000" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-select-1" class="am-u-sm-2 am-form-label">接入协议</label>
                        <div class="am-u-sm-10">
                            <select id="edit-form-protocol" required name="protocol">
                                <option value="">请选择</option>
                                <option value="HTTPS">HTTPS</option>
                                <option value="HTTP">HTTP</option>
                            </select>
                        </div>
                        <span class="am-form-caret"></span>
                    </div>

                    <div class="am-form-group">
                        <label for="edit-form-email" class="am-u-sm-2 am-form-label">联系邮箱</label>
                        <div class="am-u-sm-10">
                            <input type="email" id="edit-form-email" name="email"
                                   placeholder="例：barry@gmail.com" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="edit-form-phone" class="am-u-sm-2 am-form-label">联系电话</label>
                        <div class="am-u-sm-10">
                            <input type="number" id="edit-form-phone" name="phone"
                                   placeholder="例：18819473294" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <!--<div class="am-u-sm-10 am-u-sm-offset-2">-->
                        <div>
                            <button id="edit-form-submit-button" type="" class="am-btn am-btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--添加小云错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="add-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                添加小云失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <!--编辑小云错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="edit-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                编辑小云失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <!--确认删除小云的Modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-delete-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">警告</div>
            <div class="am-modal-bd">
                <!--TODO 最好显示该小云的部分信息，譬如说名字、URL什么的。-->
                确定要删除这个小云吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--删除小云错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="delete-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                删除小云失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <!--转换小云接入权限错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="toggle-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                改变小云接入权限失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
{% endblock custom_modal %}

{% block custom_script %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amazeui.switch.css') }}"/>
    <script src="{{ url_for('static', filename='js/amazeui.switch.min.js') }}"></script>
    <script>
        (function () {
            // 初始化「小云白名单」表格。
            var table = $('#littlecloud-table').DataTable({
                responsive: true,
                "lengthChange": false,
                "order": [[1, 'asc']],
                "ajax": "api/littlecloud",
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "", // TODO 不知道为什么搜索框前面有文字的话，样式会换行，特别不好看。后期优化。
                },
                "columns": [
                    {"data": "is_connectible"},
                    {"data": "name"},
                    {"data": "url"},
                    {"data": "ip"},
                    {"data": "port"},
                    {"data": "protocol"},
                    {"data": "email"},
                    {"data": "phone"},
                    {"data": "operation"},
                ],
                "createdRow": function (row, data, index) {
                    var switchTemplate = '<input id="switch-{0}" type="checkbox" {1} data-size="xs" data-off-text="禁止" data-on-text="允许" data-on-color="success" data-off-color="danger" name="my-checkbox">'
                    if (data["is_connectible"]) {
                        switchTemplate = switchTemplate.format(data["id"], "checked")
                    } else {
                        switchTemplate = switchTemplate.format(data["id"], "")
                    }
                    $('td', row).eq(0).html(switchTemplate);
                },
                "columnDefs": [{
                    "targets": "nosort",
                    "orderable": false,
                }, {
                    "targets": "operation",
                    "data": null,
                    "defaultContent": '<button class="am-btn am-btn-primary am-btn-xs am-radius edit-cloud-button" style="margin-right:10px"><i class="am-icon-edit"></i></button>' +
                    '<button class="am-btn am-btn-danger am-btn-xs am-radius delete-cloud-button"><i class="am-icon-trash"></i></button>',
                }],
                "drawCallback": function () {
                    // 渲染Switch，并注册切换事件：用Ajax来发送请求。
                    $('[name="my-checkbox"]').bootstrapSwitch();
                    $('[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function (event, state) {
                        var thisSwitch = $(this);
                        // 先切换成禁用状态。
                        thisSwitch.bootstrapSwitch('toggleDisabled');

                        var tr = this.closest('tr');
                        var row = table.row(tr);
                        var rowData = row.data();
                        var id = rowData.id;
                        var url = 'api/littlecloud/' + id.toString() + '/toggle_access_permission';
                        $.ajax({
                            url: url,
                            type: 'GET',
                            dataType: 'json',
                            success: function (data, textStatus, jqXHR) {
                                // 切换回可用状态。
                                thisSwitch.bootstrapSwitch('toggleDisabled');
                                if (data["result"] === false) {
                                    // 第二个参数设置为 true 时跳过执行 switchChange，才能避免死循环。
                                    thisSwitch.bootstrapSwitch('toggleState', true);

                                    $("#toggle-error-modal").modal({closeViaDimmer: 0});
                                }
                            },
                        })
                    });

                    // 往「删除按钮」注册点击事件：渲染出删除Modal。
                    $(".delete-cloud-button").on('click', function () {
                        $('#confirm-delete-modal').modal({
                            relatedTarget: this,
                            onConfirm: function (options) {
                                var $link = $(this.relatedTarget);
                                var tr = $link.closest('tr');
                                var row = table.row(tr);
                                var rowData = row.data();
                                deleteCloudById(rowData.id);
                            },
                        });
                    });

                    // 往「编辑按钮」注册点击事件：渲染出编辑Modal。
                    $(".edit-cloud-button").on('click', function () {
                        var tr = this.closest('tr');
                        var row = table.row(tr);
                        var rowData = row.data();

                        // 清空表单数据。
                        $("#edit-littlecloud-form").get(0).reset();

                        // 覆盖表单数据。
                        $("#edit-form-id").val(rowData.id);
                        $("#edit-form-name").val(rowData.name);
                        $("#edit-form-url").val(rowData.url);
                        $("#edit-form-ip").val(rowData.ip);
                        $("#edit-form-port").val(rowData.port);
                        $("#edit-form-protocol").val(rowData.protocol);
                        $("#edit-form-email").val(rowData.email);
                        $("#edit-form-phone").val(rowData.phone);

                        // 渲染编辑modal。
                        $('#edit-littlecloud-modal').modal();

                        // 激活表单验证样式（渲染出modal后激活才有效果）。
                        var isFormValid = $('#edit-littlecloud-form').validator('isFormValid');
                    });
                },
            });

            // 「添加小云按钮」的点击事件：弹出「添加小云」Modal。
            $('#add-littlecloud-btn').on('click', function () {
                $('#add-littlecloud-modal').modal();
            });

            // 「添加小云Modal」窗口完全关闭的事件：清空「添加小云」表单数据和重置验证。
            $('#add-littlecloud-modal').on('closed.modal.amui', function () {
                // 清空表单数据。
                $("#add-littlecloud-form").get(0).reset();

                // 重置表单验证。
                $("#add-littlecloud-form").validator('destroy');
                $("#add-littlecloud-form").validator();
            });

            // 「添加小云表单」的提交方法：采用异步提交的方式。
            $('#add-littlecloud-form').submit(function (e) {
                $(this).ajaxSubmit({
                    // 提交前的回调函数：用于判断表单验证是否通过。
                    beforeSubmit: function (formData, jqForm, options) {
                        var formValidity = $('#add-littlecloud-form').validator('isFormValid');
                        if (formValidity) {
                            $('#add-littlecloud-modal').modal('close');
                            return true;
                        }
                        return false;
                    },
                    // 提交后的回调函数
                    success: function (responseObject, statusText) {
                        if (responseObject['result']) {
                            table.ajax.reload();
                        } else {
                            $("#add-error-modal").modal({closeViaDimmer: 0});
                            console.log(responseObject['message']); // TODO 便于调试的错误信息，后期应删掉
                        }
                    },
                    url: "api/littlecloud",
                    type: "post",
                    dataType: "json"
                });

                return false;
            });

            // 「编辑小云表单」的提交方法：采用异步提交的方式。
            $('#edit-littlecloud-form').submit(function (e) {
                var id = $("#edit-form-id").val();
                var url = "api/littlecloud/" + id.toString();

                $(this).ajaxSubmit({
                    // 提交前的回调函数：用于判断表单验证是否通过。
                    beforeSubmit: function (formData, jqForm, options) {
                        var formValidity = $('#edit-littlecloud-form').validator('isFormValid');
                        if (formValidity) {
                            $('#edit-littlecloud-modal').modal('close');
                            return true;
                        }
                        return false;
                    },
                    // 提交后的回调函数
                    success: function (responseObject, statusText) {
                        if (responseObject['result']) {
                            table.ajax.reload();
                        } else {
                            $("#edit-error-modal").modal({closeViaDimmer: 0});
                            console.log(responseObject['message']); // TODO 便于调试的错误信息，后期应删掉
                        }
                    },
                    url: url,
                    type: "put",
                    dataType: "json"
                });

                return false;
            });

            // 根据ID删除小云的函数：用Ajax来发送DELETE请求。
            function deleteCloudById(id) {
                var url = "api/littlecloud/" + id.toString();
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        if (data["result"]) {
                            table.ajax.reload();
                        } else {
                            $("#delete-error-modal").modal({closeViaDimmer: 0});
                        }
                    },
                })
            }
        }());
    </script>
{% endblock custom_script %}
