{% extends "base.html" %}

<!--
TODO 优化方案
- 删除时弹出的 Modal，提醒信息可以详细一点。
- 对于操作不成功弹出的 Alert 窗口，失败信息可以详细一点。
-->

{% block content_head %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-mixcloud page-header-heading-icon"></span> 云推送
                    <small>管理应用组</small>
                </div>
                <p class="page-header-description">创建应用组来整合同类型应用，然后<a href="{{ url_for('push.littlecloud') }}">推送到小云</a>。
                </p>
            </div>
        </div>
    </div>
{% endblock content_head %}

{% block content_body %}
    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">应用组列表</div>
                <div class="widget-function am-fr">
                    <button type="button" id="add-appgroup-btn" class="am-btn am-btn-success am-btn-xs am-radius">
                        <i class="am-icon-plus"></i>添加应用组
                    </button>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="min-height: 400px;width: 98%;margin: auto">
                    <table width="100%" id="appgroup-table"
                           class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                        <thead>
                        <tr>
                            <th class="name">应用组名称</th>
                            <th class="description nosort">描述</th>
                            {#                            <th class="status">状态</th>#}
                            <th class="apps">所含应用</th>
                            <th class="operation nosort">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}

{% block custom_modal %}
    <!--添加应用组的Modal-->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="add-appgroup-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <h1>添加应用组</h1>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form id="add-appgroup-form" class="am-form am-form-horizontal" data-am-validator>
                    <div class="am-form-group">
                        <label for="add-form-name" class="am-u-sm-2 am-form-label">组名称</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-name" name="name" minlength="1" maxlength="50"
                                   placeholder="例：Office 办公套件" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-description" class="am-u-sm-2 am-form-label">描述</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="add-form-description" name="description" minlength="1" maxlength="50"
                                   placeholder="例：用于文书工作的软件集合" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="add-form-apps" class="am-u-sm-2 am-form-label">所含应用</label>
                        <div class="am-u-sm-10">
                            <select id="add-form-apps" name="apps" multiple data-placeholder="请选择">
                            </select>
                        </div>
                        <span class="am-form-caret"></span>
                    </div>

                    <div class="am-form-group">
                        <div>
                            <button id="add-form-submit-button" type="" class="am-btn am-btn-success">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--编辑应用组的Modal-->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="edit-appgroup-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <h1>编辑应用组</h1>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form id="edit-appgroup-form" class="am-form am-form-horizontal" data-am-validator>
                    <input type="number" id="edit-form-id" style="display: none;">

                    <div class="am-form-group">
                        <label for="edit-form-name" class="am-u-sm-2 am-form-label">组名称</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="edit-form-name" name="name" minlength="1" maxlength="50"
                                   placeholder="例：Office 办公套件" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="edit-form-description" class="am-u-sm-2 am-form-label">描述</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="edit-form-description" name="description" minlength="1"
                                   maxlength="50"
                                   placeholder="例：用于文书工作的软件集合" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="edit-form-apps" class="am-u-sm-2 am-form-label">所含应用</label>
                        <div class="am-u-sm-10">
                            <select id="edit-form-apps" name="apps" multiple data-placeholder="请选择">
                            </select>
                        </div>
                        <span class="am-form-caret"></span>
                    </div>

                    <div class="am-form-group">
                        <div>
                            <button id="edit-form-submit-button" type="" class="am-btn am-btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--添加应用组错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="add-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                添加应用组失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <!--编辑应用组错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="edit-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                编辑应用组失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <!--确认删除应用组的Modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-delete-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">警告</div>
            <div class="am-modal-bd">
                确定要删除这个应用组吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--删除应用组错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="delete-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                删除应用组失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
{% endblock custom_modal %}

{% block custom_script %}
    <script src="{{ url_for('static', filename='js/amazeui.chosen.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amazeui.chosen.css') }}"/>

    <script>
        (function () {
            // 初始化下拉框数据。
            initSelectData();

            // 初始化「应用组」表格。
            var table = $('#appgroup-table').DataTable({
                responsive: true,
                "lengthChange": false,
                "order": [[0, 'asc']],
                "ajax": "api/appgroup",
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "",
                },
                "columns": [
                    {"data": "name"},
                    {"data": "description"},
                    {"data": "apps"},
                    {"data": "operation"},
                ],
                "createdRow": function (row, data, index) {
                    var apps = data["apps"];
                    var appsTemplate = "";
                    for (var i = 0; i < apps.length; i++) {
                        var app = apps[i];
                        appsTemplate += "<span class='am-badge am-badge-warning am-radius' style='margin-right:10px'>{0}</span>".format(app.name);
                    }
                    $('td', row).eq(2).html(appsTemplate);
                },
                "columnDefs": [{
                    "targets": "nosort",
                    "orderable": false,
                }, {
                    "targets": "operation",
                    "data": null,
                    "defaultContent": '<button class="am-btn am-btn-primary am-btn-xs am-radius edit-appgroup-button" style="margin-right:10px"><i class="am-icon-edit"></i></button>' +
                    '<button class="am-btn am-btn-danger am-btn-xs am-radius delete-appgroup-button"><i class="am-icon-trash"></i></button>',
                }],
                "drawCallback": function () {
                    // 往「删除按钮」注册点击事件：渲染出删除Modal。
                    $(".delete-appgroup-button").on('click', function () {
                        $('#confirm-delete-modal').modal({
                            relatedTarget: this,
                            onConfirm: function (options) {
                                var $link = $(this.relatedTarget);
                                var tr = $link.closest('tr');
                                var row = table.row(tr);
                                var rowData = row.data();
                                var url = "api/appgroup/" + rowData.id.toString();
                                $.ajax({
                                    url: url,
                                    type: 'DELETE',
                                    dataType: 'json',
                                    success: function (data, textStatus, jqXHR) {
                                        if (data["result"]) {
                                            table.ajax.reload();
                                        } else {
                                            $("#delete-error-modal").modal({closeViaDimmer: 0});
                                        }
                                    },
                                });
                            },
                        });
                    });

                    // 往「编辑按钮」注册点击事件：渲染出编辑Modal。
                    $(".edit-appgroup-button").on('click', function () {
                        var tr = this.closest('tr');
                        var row = table.row(tr);
                        var rowData = row.data();
                        var apps = rowData.apps;
                        var appsList = [];
                        for (var i = 0; i < apps.length; i++) {
                            appsList.push(apps[i].id);
                        }

                        // 清空表单数据。
                        $("#edit-appgroup-form").get(0).reset();
                        $("#edit-form-apps").trigger('chosen:updated');

                        // 覆盖表单数据。
                        $("#edit-form-id").val(rowData.id);
                        $("#edit-form-name").val(rowData.name);
                        $("#edit-form-description").val(rowData.description);
                        $("#edit-form-apps").val(appsList).trigger('chosen:updated');

                        // 渲染编辑modal。
                        $('#edit-appgroup-modal').modal();

                        // 激活表单验证样式（渲染出modal后激活才有效果）。
                        var isFormValid = $('#edit-appgroup-form').validator('isFormValid');
                    });
                },
            });

            // 「添加应用组按钮」的点击事件：弹出「添加应用组」Modal。
            $('#add-appgroup-btn').on('click', function () {
                $('#add-appgroup-modal').modal();
            });

            // 「添加应用组Modal」窗口完全关闭的事件：清空「添加应用组」表单数据和重置验证。
            $('#add-appgroup-modal').on('closed.modal.amui', function () {
                // 清空表单数据。
                $("#add-appgroup-form").get(0).reset();
                $("#add-form-apps").trigger('chosen:updated');

                // 重置表单验证。
                $("#add-appgroup-form").validator('destroy');
                $("#add-appgroup-form").validator();
            });

            // 「添加应用组表单」的提交方法：采用异步提交的方式。
            $('#add-appgroup-form').submit(function (e) {
                $(this).ajaxSubmit({
                    // 提交前的回调函数：用于判断表单验证是否通过。
                    beforeSubmit: function (formData, jqForm, options) {
                        var formValidity = $('#add-appgroup-form').validator('isFormValid');
                        if (formValidity) {
                            $('#add-appgroup-modal').modal('close');
                            return true;
                        }
                        return false;
                    },
                    // 提交后的回调函数
                    success: function (responseObject, statusText) {
                        if (responseObject['result']) {
                            $('#appgroup-table').DataTable().ajax.reload();
                        } else {
                            $("#add-error-modal").modal({closeViaDimmer: 0});
                        }
                    },
                    url: "api/appgroup",
                    type: "post",
                    dataType: "json"
                });

                return false;
            });

            // 「编辑应用组表单」的提交方法：采用异步提交的方式。
            $('#edit-appgroup-form').submit(function (e) {
                var id = $("#edit-form-id").val();
                var url = "api/appgroup/" + id.toString();

                $(this).ajaxSubmit({
                    // 提交前的回调函数：用于判断表单验证是否通过。
                    beforeSubmit: function (formData, jqForm, options) {
                        var formValidity = $('#edit-appgroup-form').validator('isFormValid');
                        if (formValidity) {
                            $('#edit-appgroup-modal').modal('close');
                            return true;
                        }
                        return false;
                    },
                    // 提交后的回调函数
                    success: function (responseObject, statusText) {
                        if (responseObject['result']) {
                            $('#appgroup-table').DataTable().ajax.reload();
                        } else {
                            $("#edit-error-modal").modal({closeViaDimmer: 0});
                        }
                    },
                    url: url,
                    type: "put",
                    dataType: "json"
                });

                return false;
            });

        }());

        // 初始化下拉框数据。
        function initSelectData() {
            initApps();
        }

        // 初始化所含应用下拉框。
        function initApps() {
            $.ajax({
                url: 'api/application',
                type: 'GET',
                dataType: 'json',
                success: function (res, textStatus, jqXHR) {
                    if (res["result"]) {
                        var data = res["data"];
                        var $addSelected = $("#add-form-apps");
                        var $editSelected = $("#edit-form-apps");
                        for (var i = 0; i < data.length; i++) {
                            var app = data[i];
                            $addSelected.append('<option value="' + app.id + '">' + app.name + '</option>');
                            $editSelected.append('<option value="' + app.id + '">' + app.name + '</option>');
                        }
                        $addSelected.chosen({width: "100%"});
                        $editSelected.chosen({width: "100%"});
                    }
                },
            });
        }
    </script>
{% endblock custom_script %}
