{% extends "base.html" %}

{% block content_head %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-mixcloud page-header-heading-icon"></span> 云推送
                    <small>新建时间表模板</small>
                </div>
                <p class="page-header-description">管理时间表模板。</p>
            </div>
        </div>
    </div>
{% endblock content_head %}

{% block content_body %}
    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">时间表模板</div>
                <div class="am-u-sm-10">
                <select id="select_timetable" style="margin-left:25px;color:black;width:150px">
                    <option value="">请选择..</option>
                </select></div>

                <div class="widget-function am-fr">
                    <button type="button" id="add-function-btn" class="am-btn am-btn-success am-btn-xs am-radius">
                        <i class="am-icon-plus"></i>新增时间表
                    </button>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="min-height: 400px;width: 98%;margin: auto" class="" id="tpl-echarts-A">
                    <table width="100%" id="time_table"
                           class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                        <thead>
                        <tr>
                            <th class="id">节数</th>
                            <th class="start">开始时间</th>
                            <th class="end">结束时间</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}

{% block custom_script %}
    <script>
        (function () {
            // 初始化下拉框数据。
            initSelectData();

            $("#select_timetable").on('change', function () {
                var value = $("#select_timetable").val();
                if (value != "") {
                    showTimetable(value.toString());
                }
            });
        }());

        function initSelectData() {
            $.ajax({
                url: 'api/timetable/list',
                type: 'GET',
                dataType: 'json',
                success: function (res, textStatus, jqXHR) {
                    console.log(JSON.stringify(res))
                    if (res["result"]) {
                        var data = res["data"];
                        var $timetableSelected = $("#select_timetable")
                        for (var i=0; i < data.length; i++) {
                            $timetableSelected.append('<option value="' + data[i][0] + '">' + data[i][1] + '</option>');
                        }
                    }
                },
            });
        }

        function showTimetable(meta_id) {
            $("#time_table").dataTable({
                "language": {
                    "url": "{{ url_for('static', filename='i18n/jquery.dataTables.json') }}"
                },
                "ajax": "api/timetable/" + meta_id,
                "type":"GET",
                "bSort": false,
                "bPaginate": false,
                "columns": [
                        {"data": "id"},
                        {"data": "start"},
                        {"data": "end"},
                ],
            });
        }

    </script>
{% endblock custom_script %}
