{% extends "base.html" %}

<!--
TODO
- !!!对于文件上传的格式要有所限制。！！！（由于暂未确定所以现未加限制）
- Jquery 的 FileUpload 是支持暂停、终止的，可以考虑加上。
- 删除时弹出的 Modal，提醒信息可以详细一点。
- 对于操作不成功弹出的 Alert 窗口，失败信息可以详细一点。
-->

{% block content_head %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-mixcloud page-header-heading-icon"></span> 云推送
                    <small>上传应用安装包</small>
                </div>
                <p class="page-header-description">上传完毕后，还需要<a href="{{ url_for('push.application') }}">注册应用信息</a>，才能推送到小云。
                </p>
            </div>
        </div>
    </div>
{% endblock content_head %}

{% block content_body %}
    <div class="row-content am-cf">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">安装包列表</div>
                <div class="widget-function am-fr">
                    <div class="am-form-group am-form-file">
                        <button type="button" class="am-btn am-btn-success am-btn-xs am-radius">
                            <i class="am-icon-plus"></i> 上传安装包
                        </button>
                        <input id="fileupload" type="file" name="upload_file"
                               data-url="{{ url_for('push.upload_package') }}" multiple>
                    </div>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div style="min-height: 400px;width: 98%;margin: auto" class="">
                    <table width="100%" id="package-table"
                           class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                        <thead>
                        <tr>
                            <th class="filename">安装包文件名</th>
                            <th class="size">大小</th>
                            <th class="md5 nosort">MD5</th>
                            <th class="operation nosort">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}

{% block custom_modal %}
    <!--确认删除安装包的Modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-delete-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">警告</div>
            <div class="am-modal-bd">
                确定要删除这个安装包吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--删除安装包错误的Modal-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="delete-error-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd">
                删除安装包失败！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <!--显示文件上传状态的Modal-->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="upload-file-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <h1>正在上传文件</h1>
            </div>
            <div class="am-modal-bd">
                <div class="am-progress am-progress-striped am-active" style="height: 100%">
                    <div id="upload-file-percent" class="am-progress-bar am-progress-bar-secondary"
                         style="width: 0%"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock custom_modal %}


{% block custom_script %}
    <script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>

    <script>
        $(function () {
            // 初始化「小云白名单」表格。
            var table = $('#package-table').DataTable({
                responsive: true,
                "lengthChange": false,
                "order": [[0, 'asc']],
                "ajax": "api/package",
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "",
                },
                "columns": [
                    {"data": "filename"},
                    {"data": "size"},
                    {"data": "md5"},
                    {"data": "operation"},
                ],
                "createdRow": function (row, data, index) {
                    var fileNameTemplate = "<a href='{0}'>{1}</a>".format(data["url"], data["filename"]);
                    $('td', row).eq(0).html(fileNameTemplate);

                    $('td', row).eq(1).html(readablizeBytes(data["size"]));
                },
                "columnDefs": [{
                    "targets": "size",
                    "type": "file-size",
                }, {
                    "targets": "nosort",
                    "orderable": false,
                }, {
                    "targets": "operation",
                    "data": null,
                    "defaultContent": '<button class="am-btn am-btn-danger am-btn-xs am-radius delete-package-button"><i class="am-icon-trash"></i></button>',
                }],
                "drawCallback": function () {
                    // 往「删除按钮」注册点击事件：渲染出删除Modal。
                    $(".delete-package-button").on('click', function () {
                        $('#confirm-delete-modal').modal({
                            relatedTarget: this,
                            onConfirm: function (options) {
                                var $link = $(this.relatedTarget);
                                var tr = $link.closest('tr');
                                var row = table.row(tr);
                                var rowData = row.data();
                                deletePackageById(rowData.id);
                            },
                        });
                    });
                },
            });

            // 根据ID删除安装包的函数：用Ajax来发送DELETE请求。
            function deletePackageById(id) {
                var url = "api/package/" + id.toString();
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        if (data["result"]) {
                            table.ajax.reload();
                        } else {
                            $("#delete-error-modal").modal({closeViaDimmer: 0});
                        }
                    },
                })
            }

            // Jquery的fileupload方法，在上传文件过程中会弹出Modal显示进度条。
            $(function () {
                $('#fileupload').fileupload({
                    dataType: 'json',
                    add: function (e, data) {
                        $("#upload-file-modal").modal({closeViaDimmer: 0});
                        data.submit();
                    },
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        var percentStyle = "width:" + progress.toString() + "%;";
                        $('#upload-file-percent').attr("style", percentStyle);
                        var percentStr = progress.toString() + "%;";
                        $('#upload-file-percent').html(percentStr)
                    },
                    done: function (e, data) {
                        $("#upload-file-modal").modal('close');
                        table.ajax.reload();
                    }
                });
            });

            // Bytes 智能转换为 KB， MB，GB 的函数。
            function readablizeBytes(bytes) {
                var s = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB'];
                var e = Math.floor(Math.log(bytes) / Math.log(1024));
                return (bytes / Math.pow(1024, Math.floor(e))).toFixed(2) + " " + s[e];
            }
        });
    </script>
{% endblock custom_script %}